@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.container {
  margin: 5vh auto 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Author selection section */

.selector {
  width: 100%;
  font-size: 16px;
}

#authors {
  width: 250px;
  height: 40px;
  padding-left: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
}

/* Content section */

.contents {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 70px;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 85%;
  }

  .contents {
    grid-template-columns: repeat(2, 1fr);
    padding: 55px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .contents {
    grid-template-columns: 1fr;
    padding: 40px;
  }
}

.card {
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.card img {
  width: 18vh;
  height: auto;
  margin-right: 100%;
}

.card p {
  color: #757575;
  font-size: 17px;
}

.card * {
  width: 100%;
}
